html, 
body {
    overflow: hidden;
    background-image: url(./Images/stadium_f.png);
    margin-right: 40px;
}

#container {
    display: flex;
    margin-left: 500px;
    z-index: 10;
}

.presentation {
    font-family: 'Luckiest Guy', cursive;
    font-size: 120px;
    color: "#fffb0f";
    margin-top: 500px;
    margin-left: 20px;
    padding-right: 10px;
    position: absolute;
    left: 80px;
    bottom: 50px;
}

.presentation p{
    text-align: center;
    margin: 0px;
}

#start{
    position: absolute;
    left: 1500px;
    top: 450px;
    width: 200px;
    height: 80px;
    border-radius: 15;
}

.button-start {
    font-family: 'Luckiest Guy', cursive;
    color: "#fffb0f";
    background-color: "#d1eaeb"; 
    font-size: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

#instructions {
    font-family: 'Luckiest Guy', cursive;
    color: "#fffb0f";
    position: absolute;
    left: 1600px;
    top: 500px;
    list-style-type: none;
    width: 200px;
    height: 25px;
    border-radius: 5;
}

#clock {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    justify-content: end;
}

#win {
    position: absolute;
    z-index: 1000;
    left: 505px;
    bottom: 1px;
    display: none;
}

#lose {
    position: absolute;
    z-index: 1000;
    left: 340px;
    bottom: 50px;
    display: none;
}